@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
body{
    background-color: white;
    margin: 0px;
    padding: 0px;
    font-family: 'Hanken Grotesk', sans-serif;
}
p{
    margin: 0px;
}
.content{
    width: 700px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -350px; /* -1/2 width */
    margin-top: -250px; /* -1/2 height */
}
.component{
    width: 700px;
    height: 500px;
    display: flex;
    box-shadow: 2px 10px 35px rgb(0, 0, 0, .125);
    border-radius: 40px;
}
.componentLeft{
    width: 350px;
    background-image: linear-gradient(to top, #2e2be9, #7857ff);
    border-radius: 40px;
}
.componentRight{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.summary{
    height: 12px;
    width: 280px;
    margin-left: 35px;
    font-size: x-large;
    font-weight: 800;
    color: #303b5a;
}
.summaryItemsContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.summaryItem{
    height: 50px;
    width: 280px;
    margin-left: 35px;
    border-radius: 12px;
    font-weight: 700;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.summaryItemContent{
    display: flex;
    justify-content: center;
    width: 250px;
    margin-left: 15px;
    justify-content: space-between;
}
.summaryItemNameContainer{
    display: flex;
    gap: 7px;
}
.continue{
    height: 55px;
    width: 280px;
    margin-left: 35px;
    background-color: #303b5a;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: larger;
    transition: .2s;
}
.continue:hover{
    cursor: pointer;
    transform: scale(1.025);
    transition: .2s;
    background-image: linear-gradient(to top, #2e2be9, #7857ff);
}
.continue:active{
    transform: scale(1);
}
.reaction{
    background-color: hsla(0, 100%, 67%, 0.07);
    color: rgb(255, 87, 87);;
}
.memory{
    background-color: hsla(39, 100%, 56%, 0.07);
    color: rgb(255, 176, 31);
}
.verbal{
    background-color: hsla(166, 100%, 37%, 0.07);
    color: rgb(0, 189, 145);
}
.visual{
    background-color: hsla(234, 85%, 45%, 0.07);
    color: rgb(17, 37, 212);
}
.summaryItemValue{
    color: #303b5a;
}
.summaryItemValueTotal{
    color: #9092a1;
}
.componentLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    color: white;
}
.circle{
    background-image: linear-gradient(to top, #473af1, #4a24ce);
    width: 200px;
    height: 200px;
    border-radius: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.circleContent{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.yourResult{
    color: #c5cae2;
    font-size: x-large;
    font-weight: 700;
}
.result{
    font-weight: 800;
    font-size: 70px;
}
.resultTotal{
    color: #a6abc4;
    font-weight: 700px;
    font-size: large;
}
.great{
    margin-top: -10px;
    font-size: xx-large;
    font-weight: 700;
}
.description{
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    color: #c5cae2;
}
@media(max-width: 700px){
    .content{
        top: 0;
        left: 0;
        margin: 0px;
        width: 100vw;
    }
    .component{
        flex-direction: column;
        width: 100vw;
        height: fit-content;
    }
    .componentLeft{
        height: 450px;
        width: 100vw;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .componentRight{
        height: 450px;
        width: 100vw;
        align-items: center;
    }
    .summary{
        margin-left: 0px;
    }
    .summaryItem {
        margin-left: 0px;
    }
    .continue{
        margin-left: 0px;
    }
}